.container {
  height: 100%;
}
.sidenav {
	width: 13rem;
	color: white;
	background-color: rgb(71, 123, 218);
}

.sidenav a {
	color: white;
}

.sidenav i {
	margin-right: .6rem;
	vertical-align: bottom; 
}

.menu {
	margin: 1rem 0 0 1rem;
	color:  white;
	background-color: rgb(71, 123, 218);
}

img {
	width: 100%;
	height: 7rem;
	margin: .8rem auto 1rem auto;
}